# Fallback to the confirmate core team for core
/core                        @confirmate/core

# Individual service owners
/core/service/assessment     @immqu
/core/service/evaluation     @anatheka
/core/service/evidence       @lebogg
/core/service/orchestrator   @oxisto

# Ontology
/api/ontology                @anatheka

# Collectors
/collectors                  @anatheka
