# Fallback to the confirmate core team for core
core                        @confirmate/core

# Individual service owners
core/service/orchestrator   @oxisto
core/service/evidence       @lebogg
core/service/assessment     @immqu

api/ontology                @anatheka
